<!-- Slide Nav Begin -->
<nav class="pushy pushy-left top-padding-10">
    <ul>
        <li><a href="{{@blog.url}}">Home</a></li>
        <li><a href="{{@blog.url}}/about-us">About Us</a></li>
		<!-- <li><a href="{{@blog.url}}/search">Search</a></li> -->
		<!-- <li><a href="#">Contact Us</a></li> -->
    </ul>
</nav>
<!-- Slide Nav End -->