		<!-- Search Header Begin -->
		<div id="header" class="row full-width">
		{{#if @blog.logo}}<img src="{{@blog.logo}}" class="menu-btn">{{else}}<h4 class="menu-btn text-logo">{{@blog.title}}</h4>{{/if}}
		</div>
		<!-- Search Header End -->