{{#if @blog.cover}}
<section id="hero" class="color-bg image-bg light-font" style="background-image: url({{@blog.cover}});">
{{else}}
<section id="hero" class="gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<!--<h1 class="hero-title">Ex cathedra</h1>-->
			<p class="intro">There are these two young fish swimming along, and they happen to meet an older fish swimming the other way, who nods at them and says, “Morning, boys, how's the water?” And the two young fish swim on for a bit, and then eventually one of them looks over at the other and goes,
      “What the hell is water?”
      If at this moment, you're worried that I plan to present myself here as the wise old fish explaining what water is to you younger fish, please don't be. I am not the wise old fish. The immediate point of the fish story is that the most obvious, ubiquitous, important realities are often the ones that are the hardest to see and talk about. Stated as an English sentence, of course, this is just a banal platitude — but the fact is that, in the day-to-day trenches of adult existence, banal platitudes can have life-or-death importance. That may sound like hyperbole, or abstract nonsense.</p>
		</div>
	</div>
</section>
