{{#if @blog.cover}}
<section id="hero" class="color-bg image-bg light-font" style="background-image: url({{@blog.cover}});">
{{else}}
<section id="hero" class="gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<!--<h1 class="hero-title">Ex cathedra</h1>-->
			<p class="intro">(lat. ung. ’från lärostolen’, det vill säga i kraft av sitt fulla ämbete). Betecknar den vid <a href="http://sv.wikipedia.org/wiki/Första_Vatikankonciliet">Första Vatikankonciliet</a> fastställda <a href="http://sv.wikipedia.org/wiki/Romersk-katolska">romersk-katolska läran</a> enligt vilken <a href="http://sv.wikipedia.org/wiki/Påve">påven</a> i kraft av <a href="http://sv.wikipedia.org/wiki/Den_Helige_Ande">den helige Andes</a> särskilda bistånd är <a href="http://sv.wikipedia.org/wiki/Ofelbarhetsdogmen">ofelbar</a>, när han i <a href="http://sv.wikipedia.org/wiki/Tro">tros-</a> och <a href="http://sv.wikipedia.org/wiki/Moral">moralfrågor</a> uttalar sig med sitt <a href="http://sv.wikipedia.org/wiki/Apostel#Begreppet_apostolisk">apostoliska</a> ämbetes hela tyngd.</p>
		</div>
	</div>
</section>
