{{!< default}}

		{{> search-header}}

		<!-- Content Holder Begin -->
		<div class="row" id="content">
			<div class="small-9 small-centered columns top-padding-80">
				<div id="content-start" class="top-padding-60"></div>
				<div class="latest">Search</div>
			
				<article>
				<div class="row">
					<div class="large-12 columns">
						<form>
							<input type="text" id="search-field" />
						</form>
					</div>
				</div>

				<hr>
				
				<section id="results"></section>

				</article>
				
			</div>
		</div>
		<!-- Content Holder End -->