{{!< default}}
{{#post}}

	{{> post-header}}
		
		<!-- Content Holder Begin -->
		<div class="row" id="content">
			<div class="small-9 small-centered columns top-padding-80">
			<div id="content-start" class="top-padding-60"></div>
				<article>
				Read Time <div class="eta"></div>

				{{content}}

				</article>
			</div>
		</div>
		<!-- Content Holder End -->
		
		{{> sharing}}

	{{> author}}

{{/post}}