<aside class="widget">
	<h4 class="widget-title">Rekommenderad läsning</h4>

	<ul class="sidebar-articles">
		<li class="clearfix">
			<h5 class="article-title"><a href="/">Rubrik</a></h5>
			<p>Brödtext.</p>
		</li>
	</ul>
</aside>
